/* If you've come looking for secrets, then go away. */
/* If you've come to see how this is made, prepare to be disappointed. */
html {
    height: 100%;
    width: 100%; 
    overflow-y: scroll;  
    padding: 0;
    margin: 0;
}

/* TODO: Add a background that actually looks nice. */
body {
    font-family: "Monaco", monospace;
    background-image: url("./resources/blanet.png");
    color: white;
    margin: 0;
    padding: 0;
}


h1 {
    color: white;
}

h2 {
    color: blue;
}