/* No one likes Blanet! Blanet is for nerds! Go away Blanet Lovers! */
html {
    height: 100%;
    width: 100%; 
    overflow-y: scroll;  
    padding: 0;
    margin: 0;
}

body {
    font-family: "Monaco", monospace;
    background-image: url("./resources/blanet.png");
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    filter: blur(10px); /* Create stupid blur so blanet doesn't get in the way */
}


h1 {
    color: white;
}

h2 {
    color: blue;
}